$def with (data)

$var title: About GraPHOtti

<!-- 		<nav class="navbar navbar-default">
  	<div class="container-fluid">
		<div class="navbar-header">
  			<div class="navbar-brand">
    			GraPHOtti @ WestEndLights

  			</div>

		</div>
		</div>
</nav>
-->	
<ul class="nav nav-tabs">
	<li role="presentation"><a href="/graphotti/#canny">Snap</a></li>
	<li role="presentation"><a href="/graphotti/#draw">Draw</a></li>
	<li role="presentation" class="active"><a href="#about">About</a></li>
  	<li role="presentation"><a href="/graphotti/#share">Share</a></li>
</ul>

<div class="jumbotron jumbotron-fluid">
  	<h1><small>Graffiti on your phone</small></h1>

  	<p><small>
		A collaborative, creative "graPhotty experience".
		Take an artistic sketchy <b>snap</b>; <b>draw</b> on our window; <b>turn</b> and <b>shake</b> your phone for a wintery snow storm.
	</small></p>
</div>


	<div class="container">
	<div class="row">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">About</h3>
		  	</div>
		  	<div class="panel-body">

		  		<img class="pull-left" style="padding:5px;" src="/static/graphotti-flower.jpg" alt="flower" width="100">


		  		GraPHOtti is a collaborative, digital Graffiti experience, designed for <a href="http://www.lincoln-west-end-lights.com/">WestEndLights</a>, which is one night in the year when the front windows of the houses turn into screens and light up the streets with short films, shadows and light to surprise, delight and enchant local residents and passers-by. It next takes place in the <strong>Westend of Lincoln, UK</strong>, on <strong>Friday, 6 December 2019</strong>.
		  		<p>
		  			<a href="https://api.qrserver.com/v1/create-qr-code/?size=600x600&data=https://lcas.lincoln.ac.uk/graphotti/"><img class="img-responsive pull-right" style="padding:5px;" src="https://api.qrserver.com/v1/create-qr-code/?size=240x240&data=https://lcas.lincoln.ac.uk/graphotti/" alt="QR code" width="150"></a>
					  GraPHOtti allows you to post sketch photos and draw on the front window of 10 Queens Crescent with your smartphone.
					  Just go to <a href="https://lcas.lincoln.ac.uk/graphotti/">https://lcas.lincoln.ac.uk/graphotti/</a> to snap and draw away (or scan the QR code or tap your NFC-enabled phone on the tag in front of the house).
					  As this is a community experience, you need to be close to Lincoln's Westend to be able to draw.
					  Its development began in 2015, and year on year, some new features have been added. Explore again this year.
		  		</p>
		  		Come to our Window to snap and draw away with others, share the current Window content on Twitter, <a href="#social">follow</a> what others are sharing.

		  		<H2>New Features</H2>
				  <H3>New in 2019:</H3>
				  <b>Snap</b> a sketchy background photo to draw on with your own phone.
				  <H3>New in 2018:</H3>
				  <b>Shake</b> your phone, and witness a snow storm wiping away your drawing. <b>Turn</b> your phone to turn the "snow globe".

		  		<H2>Some impressions from history</H2>
		  		<div class="col-sm-12 embed-responsive embed-responsive-16by9">
		  			<iframe class="col-sm-12" height="400" src="https://www.youtube.com/embed/AFfTtNlemIo"></iframe>
		  		</div>
		  		<br>
		  		<div class="col-sm-12 embed-responsive embed-responsive-16by9">
		  			<iframe class="col-sm-12" height="400" src="https://www.youtube.com/embed/iAp0q3hid58"></iframe>
		  		</div>	

		  	</div>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Social Media</h3>
		  	</div>
		  	<div class="panel-body">
		  		<a name="social"/>
		  		<div class="fb-like" data-href="https://lcas.lincoln.ac.uk/graphotti/about" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
		  	</div>
		  	<div class="panel-body">
		  		<a href="https://twitter.com/graPH0tti" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @graPH0tti</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

				<a href="https://twitter.com/intent/tweet?screen_name=graPH0tti&text=%23westendlights" class="twitter-mention-button" data-size="large" data-related="graPH0tti,WestEndLights" data-dnt="true">Tweet to @graPH0tti</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
			<div class="panel-body">
				<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/graPH0tti" data-widget-id="664420268740354048">Tweets by @graPH0tti</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>				

			</div>
		</div>

	</div>

</div>


