$def with (data)

$var title: About GraPHOtti

<!-- 		<nav class="navbar navbar-default">
  	<div class="container-fluid">
		<div class="navbar-header">
  			<div class="navbar-brand">
    			GraPHOtti @ WestEndLights

  			</div>

		</div>
		</div>
</nav>
-->	
<ul class="nav nav-tabs">
  <li role="presentation"><a href="./#draw">Doodle</a></li>
  <li role="presentation" class="active"><a href="#about">About</a></li>
  <li role="presentation"><a href="./#share">Share</a></li>
</ul>

<div class="jumbotron">
  <div class="container">
  	<h1>GraPHOtti: Graffiti from your PHOne onto our Window</h1>
  	<p>A collaborative, digital Graffiti experience</p>
    <p><a href="#draw">Draw</a> on our bay window together, <br/><a href="#share">Share</a> your art, <br/>enjoy collaborative creativity.</p>
  </div>
</div>


	<div class="container">
	<div class="row">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">About</h3>
		  	</div>
		  	<div class="panel-body">

			<img class="pull-left" style="padding:5px;" src="/static/graphotti-flower.jpg" alt="flower" width="100">


			GraPHOtti is a collaborative, digital Graffiti experience, designed for the <a href="http://www.lincoln-west-end-lights.com/">WestEndLights</a>, which is one night in the year when the front windows of the houses turn into screens and light up the streets with short films, shadows and light to surprise, delight and enchant local residents and passers-by. It takes place in the <strong>Westend of Lincoln, UK</strong>, on <strong>4 December 2015</strong>.
			<p>
			<a href="https://api.qrserver.com/v1/create-qr-code/?size=600x600&data=https://lcas.lincoln.ac.uk/graphotti/"><img class="img-responsive pull-right" style="padding:5px;" src="https://api.qrserver.com/v1/create-qr-code/?size=240x240&data=https://lcas.lincoln.ac.uk/graphotti/" alt="QR code" width="150"></a>
			GraPHOtti allows you to doodle on the front window of 10 Queens Crescent with your smart phone. Just go to <a href="https://lcas.lincoln.ac.uk/graphotti/">https://lcas.lincoln.ac.uk/graphotti/</a> and doodle away (or scan the QR code or tap your NFC-enabled phone on the tag in front of our house). As this is a community experience, you need to be close to Lincoln's Westend to be able to draw (Hence, your phone will be asking you to allow the website to read your location).
			</p>
			Come to our Window and doodle away with others, share the current Window content on Twitter, <a href="#social">follow</a> what others are sharing.
			<a href="https://www.google.com/maps/place/10+Queens+Crescent,+LN1+1LR/"><img class="img-responsive" src="http://maps.googleapis.com/maps/api/staticmap?center=10+Queens+Crescent,+LN1+1LR&zoom=15&scale=false&size=600x300&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7C10+Queens+Crescent,+LN1+1LR" alt="Google Map of 10 Queens Crescent, LN1 1LR"></a>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="panel panel-default">
		  	<div class="panel-heading">
		    	<h3 class="panel-title">Social Media</h3>
		  	</div>
		  	<div class="panel-body">
		  		<a name="social"/>
		  		<div class="fb-like" data-href="https://lcas.lincoln.ac.uk/graphotti/about" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
		  		<a href="https://twitter.com/graPH0tti" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @graPH0tti</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

				<a href="https://twitter.com/intent/tweet?screen_name=graPH0tti&text=%23westendlights" class="twitter-mention-button" data-size="large" data-related="graPH0tti,WestEndLights" data-dnt="true">Tweet to @graPH0tti</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
			</div>
			<div class="panel-body">
				<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/graPH0tti" data-widget-id="664420268740354048">Tweets by @graPH0tti</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>				

			</div>
		</div>

	</div>

</div>


<footer class="footer">
		<div class="container">
			<small>
			<p class="text-muted">GraPHOtti, &copy; Marc Hanheide 2015, <br/><a href="https://github.com/marc-hanheide/window_draw">https://github.com/marc-hanheide/window_draw</a></p>
		</small>
		</div>
</footer>

