$def with (page, vars=None)
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>$page.title</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
		<meta name="author" content="Marc Hanheide">
		<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
		<META HTTP-EQUIV="Expires" CONTENT="-1">

	  	<link href="/static/css/bootstrap.min.css" rel="stylesheet" />
		<script type="text/javascript" src="/static/js/jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="/static/js/scripts.js"></script>
		<script type="text/javascript" src="/static/js/paper-full.min.js"></script>
		<script type="text/javascript"  src="/static/js/canvas-to-blob.min.js"></script>

		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<link href="/static/css/style.css" rel="stylesheet" />
	 	<script type="text/javascript">

	 		paths = [];
			destWidth = $config.config['width'];
			destHeight = $config.config['height'];
			zoom = 1;
			pixel_ratio = 1;
			latitude = 0.0;
			longitude = 0.0;


			function showPosition(mapholder_div, latitude, longitude) {
			    var latlon = latitude + "," + longitude;

			    var img_url = "http://maps.googleapis.com/maps/api/staticmap?center="+latlon+"&zoom=12&size=640x480&sensor=false&markers=size:mid%7Ccolor:0xff0000%7C"+latlon;

			    document.getElementById(mapholder_div).innerHTML = "<img class=\"img-responsive\" src='"+img_url+"'>";
			    document.getElementById("myCanvas").hidden = false;
			}

			function getLocation() {
			    if (navigator.geolocation) {
			        navigator.geolocation.getCurrentPosition(
			        	function(position) {
				        	latitude = position.coords.latitude;
				        	longitude = position.coords.longitude;
				        	showPosition("mapholder", latitude, longitude)
				        	console.log(position);
			        	},
			        	function(error) {
						    switch(error.code) {
						        case error.PERMISSION_DENIED:
						            console.log("User denied the request for Geolocation.");
						            break;
						        case error.POSITION_UNAVAILABLE:
						            console.log("Location information is unavailable.");
						            break;
						        case error.TIMEOUT:
						            console.log("The request to get user location timed out.");
						            break;
						        case error.UNKNOWN_ERROR:
						            console.log("An unknown error occurred.");
						            break;
						    }
						    $$.getJSON("https://freegeoip.net/json/", function(res){
						    	console.log("estimated from freegeoip " + res.latitude + " " + res.longitude);
						        latitude = res.latitude;
						        longitude = res.longitude;
						        showPosition("mapholder", latitude, longitude)
   						    });

						});
			    } else {
			        console.log("Geolocation is not supported by this browser.");
			    }
			}

	 		function maximise(view, canvas_id) {
				console.log("window: x=" + window.innerWidth + " y=" + window.innerHeight);
				var canvas = document.getElementById(canvas_id);
				pw = canvas.parentNode.clientWidth;
				ph = canvas.parentNode.clientHeight;
				var xr = (pw-30) / destWidth;
				var yr = (window.innerHeight-50) / destHeight;
				zoom = Math.min(xr,yr);

				console.log("before view: x="+view.viewSize.width+" y="+view.viewSize.height);
				console.log("before client: x="+canvas.clientWidth+" y="+canvas.clientHeight);
				pixel_ratio = view.pixelRatio;
				console.log("pixel_ratio: " + pixel_ratio);

				$$("#" + canvas_id).css("width", (destWidth  * zoom).toString());
				$$("#" + canvas_id).css("height", (destHeight  * zoom).toString());

				view.setViewSize(destWidth  * zoom, destHeight * zoom)
				$$("#" + canvas_id).css("width", (destWidth  * zoom).toString());
				$$("#" + canvas_id).css("height", (destHeight  * zoom).toString());
				console.log("after view: x="+view.viewSize.width+" y="+view.viewSize.height);
				//canvas.width = destWidth  * zoom;
				// console.log(destHeight * zoom+ " " + canvas.height);
				// console.log(destHeight * zoom+ " " + canvas.height);
				//console.log(view.viewSize);
				//console.log(pixel_ratio);


	 		}

	 		window.onresize = function(event) {
				console.log("resize.view: x="+paper.view.viewSize.width+" y="+paper.view.viewSize.height);
				console.log(event.target.innerWidth);
				maximise(paper.view, "myCanvas");

	 		}

		</script>


	</head>

	<!--<body style="background:black">-->
	<body>
<!-- 		<div class="container">
 -->			$:page   
<!-- 		</div>
 -->	</body>
</html>
