$def with (data)

$var title: GraPHOtti.

<!-- 		<nav class="navbar navbar-default">
		  	<div class="container-fluid">
	    		<div class="navbar-header">
	      			<div class="navbar-brand">
	        			GraPHOtti @ WestEndLights

	      			</div>

	    		</div>
	  		</div>
		</nav>
 -->	
		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href="#draw">Doodle</a></li>
		  <li role="presentation"><a href="/graphotti/about">About</a></li>
		  <li role="presentation"><a href="#share">Share</a></li>
		</ul>

		<div class="jumbotron">
		  <div class="container">
		  	<h1>GraPHOtti: Graffiti from your PHOne onto our Window</h1>
		    <p><a href="#draw">Draw</a> on our bay window together. Shake your device and see what happens.</p>
		  </div>
		</div>


		<style>
			canvas[resize] {
 			   width: 100%;
    			height: 100%;
			}
		</style>
 		<div class="container">
			<div class="row">
				<div class="panel panel-default">
				  	<div class="panel-heading">
						<a name="draw" ></a>
				    	<h3 class="panel-title">Doodle here</h3>
				  	</div>
				  	<div class="panel-body text-center">
						<a name="draw"></a>
						<button type="button" class="btn btn-success btn-block" onclick="fullscreen_canvas();">Go fullscreen!</button>

						<canvas id="myCanvas" border="1" keepalive="true" resize="true" style="border:2px solid #555555;background: black;">
						</canvas>
						<a type="button" class="btn btn-warning btn-block" href="/graphotti/image_store"><h3>View current window</h3> <img src="/graphotti/image_store" width="50px" /></a>

					</div>				
				</div>
			</div>
			<div class="row">
				<div class="panel panel-default">
				  	<div class="panel-heading">
				    	<h3 class="panel-title">Share</h3>
				    	Share on Twitter and follow posts from others at <a href="https://twitter.com/graPH0tti">https://twitter.com/graPH0tti</a>.
				  	</div>
				  	<div class="panel-body">
						<a name="share"></a>
						<button type="button" class="btn btn-primary btn-block" onclick="tweet();">Tweet current doodle on @graPH0tti</button>


						<div class="fb-like" data-href="https://lcas.lincoln.ac.uk/graphotti/about" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

				  		<a href="https://twitter.com/graPH0tti" class="twitter-follow-button" data-show-count="false" data-size="large" data-dnt="true">Follow @graPH0tti</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

						<a href="https://twitter.com/intent/tweet?screen_name=graPH0tti&text=%23westendlights" class="twitter-mention-button" data-size="large" data-related="graPH0tti,WestEndLights" data-dnt="true">Tweet to @graPH0tti</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

					</div>
					<div class="panel-body">
						<a class="twitter-timeline" data-dnt="true" href="https://twitter.com/graPH0tti" data-widget-id="664420268740354048">Tweets by @graPH0tti</a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>				

					</div>
				</div>


			</div>
                        <div class="row">
                                <div class="panel panel-default">
                                        <div class="panel-heading">
                                        <h3 class="panel-title">Where you are</h3>
                                        </div>
                                        <div class="panel-body">
                                                <div id="mapholder"><H3>GraPHOtti needs to know your location to make sure you are close to our Window before you are allowed to draw.</H3></div>
                                        </div>
                                </div>
                        </div>

		</div>


	    <footer class="footer">
      		<div class="container">
      			<small>
        			<p class="text-muted">GraPHOtti, &copy; Marc Hanheide 2015, <br/><a href="https://github.com/marc-hanheide/window_draw">https://github.com/marc-hanheide/window_draw</a></p>
    			</small>
      		</div>
    	</footer>





	<script type="text/javascript">

		function fullscreen_canvas() {
            var el = document.getElementById('myCanvas');
 
            if(el.webkitRequestFullScreen) {
               el.webkitRequestFullScreen();
            }
            else {
              el.mozRequestFullScreen();
            }            
		}


		function send_path(path) {
			$$.post('#', path).fail(function() {
    			alert( "you are not allowed to draw from where you are!" );
  			});
		}

		function tweet() {
			$$.post('tweet', {});
		}

		function send_acc(a, t, gravity_angle) {
			$$.post('acc', {
				'acc_abs': a,
				'acc_time': t,
				'gravity_angle': gravity_angle
			});
		}


		function init_imu() {
			acc_abs = 0.0;
			acc_time = 0.0;
			count = 0;
			last_ts = Date.now();
			if (window.DeviceMotionEvent != undefined) {
				window.ondevicemotion = function(e) {
					if (event.accelerationIncludingGravity.x != null) {
						var ab = Math.sqrt(
											event.accelerationIncludingGravity.x * event.accelerationIncludingGravity.x +
											event.accelerationIncludingGravity.y * event.accelerationIncludingGravity.y +
											event.accelerationIncludingGravity.z * event.accelerationIncludingGravity.z
										) - 9.82;
						var gravity_angle = Math.atan2(event.accelerationIncludingGravity.x, event.accelerationIncludingGravity.y);
						// accumulated acceleration
						acc_abs = acc_abs + ab
						acc_time = acc_time + event.interval;
						count = count + 1;
						if (Date.now() > last_ts+500) {
							acc_abs = acc_abs / count;
							//if (acc_abs > 1.0) {
								console.log(acc_abs + ' m/s2 ');
								send_acc(acc_abs, acc_time, gravity_angle);
							//}
							acc_abs = 0.0;
							count = 0;
							last_ts = Date.now();
							acc_time = 0;
						}
						

					}
				} 
			}
		}

		window.onload = function() {

			init_imu();

			getLocation();


			// Get a reference to the canvas object
			var canvas = document.getElementById('myCanvas');
			// Create an empty project and a view for the canvas:
			paper.setup(canvas);



			with (paper) {
				// Create a simple drawing tool:
				var tool = new Tool();
				var path;

				geo_wait_text = new PointText(new Point(20, 20));
				geo_wait_text.justification = 'left';
				geo_wait_text.fillColor = 'red';
				geo_wait_text.fontSize = 24;
				geo_wait_text.content = 'Waiting to be localised\nbefore painting is allowed';



				// Define a mousedown and mousedrag handler
				tool.onMouseDown = function(event) {
					if (latitude == 0.0  && longitude == 0.0)
						return;
					path = new Path();
					color = [	Math.random()*0.5 + 0.5,
								Math.random()*0.5 + 0.5,
								Math.random()*0.5 + 0.5, 1]
					path.strokeColor = color;
					path.strokeColor.saturation = 255.0;
					path.strokeWidth = 5*zoom,
					p = event.point;
					// p.x /= pixel_ratio;
					// p.y /= pixel_ratio;
					path.add(p);
				}

				tool.onMouseDrag = function(event) {
					if (latitude == 0.0  && longitude == 0.0)
						return;
					p = event.point;
					// p.x /= pixel_ratio;
					// p.y /= pixel_ratio;
					path.add(p);
				}

				tool.onMouseUp = function(event) {
					if (latitude == 0.0  && longitude == 0.0)
						return;
					var data = {};
					data['path'] = path.exportJSON();
					data['zoom'] = zoom;
					data['latitude'] = latitude;
					data['longitude'] = longitude;
					data['pixel_ratio'] = pixel_ratio;
					paths.push(path);
					//path.remove();
					send_path(data);
				}

			    view.onFrame = function(event) {
					// On each frame, rotate the path by 3 degrees:
					if (geo_wait_text && latitude != 0.0 && longitude != 0.0) {
						geo_wait_text.remove();
						geo_wait_text = null;
					}

					for (p in paths) {
						//console.log(paths[p].strokeColor);
						t = paths[p].strokeColor.alpha;
						t = t - $config.client_decay;

						if (t <= 0.0) {
							paths[p].remove();
							paths.splice(p,1);
						} else {
							paths[p].strokeColor.alpha = t;
						}
						
					}
					
				}

				maximise(view, "myCanvas");		



			}
		}
</script>
