$def with (data)

$var title: WindowDraw.

<canvas id="drawCanvas" keepalive="true" resize="true" style="border:1px solid #666666;background: black;">
	
</canvas>

	<script type="text/javascript">

    function store_bitmap(){
		var canvas = document.getElementById('drawCanvas');

	    canvas.toBlob(function(blob) { 
			var fd = new FormData();
			fd.append('fname', 'test.jpg');
			fd.append('data', blob);
			$$.ajax({
			    type: 'POST',
			    url: 'image_store',
			    data: fd,
			    processData: false,
			    contentType: false
			}).done(function(data) {
			       console.log(data);
			});
	    }, "image/jpeg");
	}


	window.onload = function() {

		decay_factor = 1.0;

		// Get a reference to the canvas object
		var canvas = document.getElementById('drawCanvas');
		// var destWidth = 640;
		// var destHeight = 480;
		// var xr = (window.innerWidth-10) / destWidth;
		// var yr = (window.innerHeight-10) / destHeight;
		// var zoom = Math.min(xr,yr);
		// canvas.width = destWidth * zoom;
		// canvas.height = destHeight * zoom;

		// Create an empty project and a view for the canvas:
		paper.setup(canvas);
		with (paper) {
			maximise(view);
			var source = new EventSource("sse");
			// text = new PointText(new Point(20, 20));
			// text.justification = 'left';
			// text.fillColor = 'green';
			// text.fontSize = 24;
			// text.content = 'draw on your phone';
			source.onmessage = function(event) {
				var d = JSON.parse(event.data);

			    if (d['path'].length == 0)
			    	return;
			    path = new Path()
			    path.importJSON(d['path']);
			    path.scale(zoom,[0,0]);
			    path.smooth();
			    //path.strokeColor = [1, 0.3, 0.3, 0.8];
			    path.strokeWidth = 5*zoom,
			    paths.push(path);
			    view.draw();
			    store_bitmap();
			};
			
		    view.onFrame = function(event) {
		    	var max_t = 0;
				for (var p in paths) {
					if (paths[p].strokeColor.alpha > max_t)
						max_t = paths[p].strokeColor.alpha;
				}
				for (var p in paths) {
					var t = paths[p].strokeColor.alpha;
					if (max_t >=0.5)
						t = t - ($config.server_decay * decay_factor);
					//paths[p].strokeWidth = Math.random()*5+1;
					for (var s in paths[p].segments) {
						paths[p].segments[s].point.x +=  (Math.random()-0.5) 
							* $config.server_jitter;
						paths[p].segments[s].point.y +=  (Math.random()-0.5) 
							* $config.server_jitter;
					}
					//console.log(t);
					if (t <= 0.0) {
						paths[p].remove();
						paths.splice(p,1);
					} else {
						paths[p].strokeColor.alpha = t;
					}
					
				}
				
			}
			


		}
	}
</script>
